*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}

.center-bloc{
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

header{
    margin-bottom: 40px;
}

h1{
    color: red;
    font-weight: 900;
}

section{
    margin-bottom: 40px;
}

p{
    color: black;
}

.row{
    margin-bottom: 20px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    background-color: black;
    float: left;
    width: calc(94%/3);
    margin: 10px;
    text-align: left;
}

img{
    float: left;
    height: 100px;
    margin-right: 20px;
}

.name{
    color: white;
    font-weight: bold;
    padding-top: 5px;
}

.job{
    color: white;
    font-weight: 100;
    padding-top: 5px;
}

.mail{
    color: skyblue;
    font-weight: 100;
    padding-top: 5px;
}

